<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">About Us</h2>
      <h4>This application was developed for gamers by gamers.
      Our mission is to bring people together through virtual gaming.
      Looking for a group of individuals who play competitively or play foolishly.</h4>
      </div>
    </div>
</div>
<div class="well">
    <h2>Connect with other gamers through..</h2>
    <ul>
        <li>Gamertags</li>
        <li>Email</li>
        <li>Text</li>
    </ul>
</div>