<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <h2 class="text-center">About Us</h2>
      <h4>This application was developed for gamers by gamers.</h4>
      <p>Our mission is to bring people together through social media by creating profiles for each gamer.</p>
      <p>Looking for a group of individuals who play competitively or play foolishly.</p>
      </div>
    </div>
</div>
<div class="well col-md-6 col-md-offset-3">
    <h2 class="text-center">Connect with other gamers through..</h2>
    <ul>
        <li>Gamertags</li>
        <li>Email</li>
        <li>Text</li>
    </ul>
</div>