.resize {
    display: inline-block;
}
.userName {
    display: inline-block;
    margin-left: 10px;
}
/*User index page styles CSS */

.well.white-bg {
  background-color: white;
}

/* Users show page styles */
.user-show-avatar {
  height: 200px;
  width: 200px;
}